<app-sidebar></app-sidebar>
<section id="content" >
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard :</h1>
      </div>
    </div>
    <ul class="box-info" id="questions">
      <li>
        <i class='bx bxs-calendar-check' ></i>
        <span class="text">
          <h3>20</h3>
          <p>Categorie</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-group' ></i>
        <span class="text">
          <h3>40</h3>
          <p>Questions</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
          <h3>10</h3>
          <p>Condidat</p>
        </span>
      </li>
    </ul>
  </main>
</section>
