<app-sidebar></app-sidebar>
<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' ></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form>
  </nav>
  <!-- NAVBAR -->
  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Categorie :</h1>
      </div>
    </div>
    <div class="table-data">
      <div class="todo">
        <div class="head">
          <h3>Les categoriers</h3>
          <a href="#" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
            <i class='bx bx-plus'></i>
          </a>
        </div>
        <ul ngbDropdownMenu aria-labelledby="Menu" class="todo-list">
          <li class="completed" *ngFor="let c of categorie" (click)="onGetQuestion(c.id)">
            <a ngbDropdownItem href="#">
              <p>{{c.nom}}</p>
            </a>
          <i class='bx bx-dots-vertical-rounded'></i>
            <!-- <button class="btn"><span class="badge bg-danger" (click)="OndeleteCategorie(c.id)"></span>
              delete
            </button> -->
          </li>
        </ul>
      </div>
      <div class="order">
        <div class="head">
          <h3>Les questions</h3>
          <a href="#" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalQuestion">
            <i class='bx bx-plus'></i>
          </a>
          <i class='bx bx-search' ></i>
          <i class='bx bx-filter' ></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Text</th>
              <th>Duree</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of question">
              <td><p>{{c.text}}</p></td>
              <td><p>{{c.duree}}</p></td>
              <td><p>{{c.type}}</p></td>
              <td>
                <span class="status bg-warning"><a href="#" class="text-light" (click)="updatequestion(c.id)">Modifier</a></span>
                <span class="status bg-danger"><a href="#"  class="text-light" (click)="deleteQuestion(c.id)">Supprime</a></span>
                <span class="status bg-secondary"><a href="#"  class="text-light" data-bs-toggle="modal" data-bs-target="#ModalReponse">reponse</a></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
<!-- Modal Create Categories-->
<div class="create-category">
  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="exampleModalLabel">New Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmitCategorie()">
            <div class="mb-3">
              <label for="nom" class="form-label">Name</label>
              <input [(ngModel)]="cat.nom" type="text" name="nom" placeholder="Entrer name of category" class="form-control" id="nom" >
            </div>
            <button type="submit" class="btn btn-primary m-2 p-2">Create</button>
            <button type="reset" class="btn btn-secondary m-2 p-2">Cancel</button>
          </form>
        </div>
        <div [hidden]="!submitted">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>You submitted </strong> Successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Create Question-->
<div class="create-question">
  <div class="modal fade" id="ModalQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="exampleModalLabel">New Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="type" class="form-label">Type</label>
              <input type="text" placeholder="Entrer type of question" name="type" [(ngModel)]="quest.type"  class="form-control" id="type" required>
            </div>
            <div class="mb-3">
              <label for="text" class="form-label">Text</label>
              <input [(ngModel)]="quest.text" type="text" placeholder="Entrer text of question" name="text" class="form-control" id="text" required>
            </div>
            <div class="mb-3">
              <label for="duree" class="form-label">Duree</label>
              <input [(ngModel)]="quest.duree" type="text" placeholder="Entrer duree of question" name="duree" class="form-control" id="duree" required>
            </div>
            <div class="mb-3">
              <select class="form-select" name="categorie_id" required [(ngModel)]="quest.categorie.id">
                <option selected disabled>select Categorie</option>
                <option *ngFor="let cat of categorie" [ngValue]="cat.id">{{cat.nom}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary m-2 p-2">Create</button>
            <button type="reset" class="btn btn-secondary m-2 p-2">Cancel</button>
          </form>
        </div>
        <div [hidden]="!submitted">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>You submitted </strong> Successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- Modal Create Reponse-->
<div class="create-category">
  <div class="modal fade" id="ModalReponse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="exampleModalLabel">New Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmitCategorie()">
            <div class="mb-3">
              <label for="nom" class="form-label">Name</label>
              <input [(ngModel)]="cat.nom" type="text" name="nom" placeholder="Entrer name of category" class="form-control" id="nom" >
            </div>
            <button type="submit" class="btn btn-primary m-2 p-2">Create</button>
            <button type="reset" class="btn btn-secondary m-2 p-2">Cancel</button>
          </form>
        </div>
        <div [hidden]="!submitted">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>You submitted </strong> Successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
