<app-sidebar></app-sidebar>
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' ></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-12">
        <form (ngSubmit)="onSubmit()">
          <h1 class="justify-content-center text-info">FORM UPDATE QUESTION</h1>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" placeholder="Entrer type of question" name="type" [(ngModel)]="question.type"  class="form-control" id="type" required>
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Text</label>
            <input [(ngModel)]="question.text" type="text" placeholder="Entrer text of question" name="text" class="form-control" id="text" required>
          </div>
          <div class="mb-3">
            <label for="duree" class="form-label">Duree</label>
            <input [(ngModel)]="question.duree" type="text" placeholder="Entrer duree of question" name="duree" class="form-control" id="duree" required>
          </div>
          <button type="submit" class="btn btn-primary m-2 p-2">Update</button>
          <button type="reset" class="btn btn-secondary m-2 p-2">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</section>
